<div class="row g-0-align">
    <div class="text-center">
        <img src="https://scontent.fmch2-1.fna.fbcdn.net/v/t1.6435-9/96093333_238015234070948_8318280032241844224_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGAlmoJvRATt4mPNbU8GlSR57GJ0sEIgwrnsYnSwQiDCiQ7n5nwsbYNno2OljUe8W7F5EYUhi7u-1f3C2yOX3SF&_nc_ohc=O5-S3X9Jv90AX85Grfz&_nc_ht=scontent.fmch2-1.fna&oh=00_AfA2p-DhnodSCAispL3mVAjF4Wyb0WSo6IxEcL5cJjAcTw&oe=64AB66CE"
            width="250" class="rounded mx-auto d-block-center-align" alt="...">
    </div>
    <div class="col-md-8-center">
        <div class="card text-center p-3 mb-2 bg-primary-subtle text-emphasis-primary">
            <div class="text-center p-3 mb-2 bg-primary-subtle text-emphasis-primary" style="max-width:1700px;">
                <h5 class="card-title">Biografía</h5>


                <p class="card-text">Hola mi nombre es Dowsan Miguel Vásquez Bermeo nací el 6 de septiembre del 2003, me encuentro estudiando en quinto semestre, me gusta poder aprender cada vez más cosas nuevas, ya que me permiten poder mejorar mi capacidad de aprendizaje,
                    tengo tres hermanos uno mayor a mi su nombre es Dereck Vásquez y otros dos menores Brad Vásquez y Daren Vásquez los cuales me han apoyado en cada uno de los pasos que doy junto con mis padres para poder ser mejor cada día, me gusta
                    mucho diseño gráfico, programación, páginas web, mi futuro es tener una empresa propia que se encargue de realizar programas y venderlos en diferentes partes del mundo, poder estar con mi familia pasar después de graduarme buenos momentos,
                    no olvidar todo lo que pase, porque siempre dar un paso adelante y no retroceder pese a las adversidades que tengamos de frente, lo mejor que la vida nos da son nuestro padres, y hermanos ya que son las personas las que nos apoyan
                    a diario a seguir adelante y ser mejores cada día, mis metas las lograré.</p>
            </div>
            <p class="card-text-align"><small class="text-body-primary"></small></p>
        </div>
    </div>
</div>